<!DOCTYPE html>
<html lang="en">
<head>
  [! partials/header.html !]
  <title>Contact</title>
</head>
<body>
  <h1 class="brand">Contact us</h1>
  <form action="/contact" method="POST" enctype="multipart/form-data">
    <label for="name">Your Name</label>
    <br/>
    <input type="text" id="name" name="name" placeholder="Your name..">
    <br/>
    <label for="message">Message</label>
    <br/>
    <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>
    <br/>
    <input type="submit" value="Submit">
  </form>  
</body>
</html>
